

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Newest LA Times Stories</a>
      </div>
      <div id="header">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/saved">Stories</a></li>
          <li><button id="next-set" type="button" class="btn btn-light">Refresh Stories</button></li>
        </ul>
      </div>
    </nav>
    <div id="wrapper">
      <h1>News Scraper</h1>
      <p>{{ greeting }}</p>
      <h2><i>LA Times Stories</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>