    <div id="wrapper">
      <h1>Note Scraper</h1>
      <p>{{ greetings }}</p>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>